@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  background-color: #0e0e0e;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0e0e0e;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c7c6c6;
  border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #c7c6c6;;
}